@model IEnumerable<Gavelister.Models.Gift>

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>
<table class="table">
    <thead>
        <tr class="list-header">
            <th></th>
            <th>ØNSKET</th>
            <th>KJØPT</th>
            <th>GJENSTÅR</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.AmountRequested)</td>
                <td>@Html.DisplayFor(modelItem => item.AmountBought)</td>
                <td>@Html.DisplayFor(modelItem => item.NumberLeft)</td>
                <td>@Html.EditorFor(modelItem => item.AmountReserved)</td>
                <td><input type="button" asp-action="Buy" asp-route-id="@item.Id" value="Kjøp"/></td>
            </tr>

        }
    </tbody>


    </table>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
