@model IEnumerable<Gavelister.Models.Gift>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Opprett ny</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AmountBought)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountRequested)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AmountBought)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountRequested)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Slett</a>
            </td>
        </tr>
}
    </tbody>
</table>
