@model IEnumerable<Gavelister.Models.Gift>

    <table class="table">
        <thead>
            <tr class="list-header">
                <th></th>
                <th>ØNSKET</th>
                <th>KJØPT</th>
                <th>GJENSTÅR</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>@Html.DisplayFor(modelItem => item.AmountRequested)</td>
                    <td>@Html.DisplayFor(modelItem => item.AmountBought)</td>
                    <td>@Html.DisplayFor(modelItem => item.NumberLeft)</td>
                    <td>
                        @{var amountReservedId = "amountReserved" + @item.Id;}
                        <input type='button' value='-' class='qtyminus' max-number="@item.NumberLeft" field='@amountReservedId' />
                        @Html.TextBoxFor(modelItem => item.AmountReserved, new { @id = @amountReservedId, @class = "qty" })
                        <input type='button' value='+' class='qtyplus' max-number="@item.NumberLeft" field='@amountReservedId' />
                    </td>
                    <td>
                        <a class="btn btn-default buy-button" disabled="@(item.AmountBought >= item.AmountRequested ? "true" : "false")">Kjøp</a>
                        @*<input type='submit' formaction='@Url.Action("Buy", "Gifts")' />*@
                    </td>
                </tr>

            }
        </tbody>
    </table>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
